img {
    width: 1300px;
    height: 1200px;
}

body {
    width: 1440px;
    font-family: 'Doloman Pavljenko Light', sans-serif;
    font-size: 100%;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.slides-container {
    width: 80%;
    margin: 0 auto;
}

.slide {
    width: 1440px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.slide__header {
    font-size: 7em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #38509e;
}

.slide2__container,
.slide4__container,
.elements-container {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
}

.slide2__container span,
.slide4__container span {
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 3px 7px;
    margin: 30px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    font-size: 3em;
    font-family: 'Doloman Pavljenko Light', sans-serif;
}

.button--primary {
    background-color: #38509e;
    color: white;
}

.button--secondary {
    background-color: #f7f2ec;
    color: #38509e;
}

.font-container1 .h1-1200 {
    font-family: 'Playfair Display Regular', serif;
    font-weight: 100;
    font-size: 300%;
}

.font-container1 .h2-1200 {
    font-family: 'Playfair Display Regular', serif;
    font-weight: 100;
    font-size: 300%;
}

.font-container1 .text1-1200 {
    font-family: 'Doloman Pavljenko Light', sans-serif;
    font-weight: 100;
    font-size: 300%;
}

.font-container1 .text2-1200 {
    font-family: 'Doloman Pavljenko Light', sans-serif;
    font-weight: 100;
    font-size: 300%;
}
